*
{
  font-family: "Roboto", sans-serif;
}

h1, h2
{
  font-family: "Montserrat", sans-serif; 
}

#landing
{
  height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img
{
  height: 250px;
  width: 250px; 
  border-radius: 50%; 
}

.jumbotron
{
  background-color: transparent;
}

#gallery
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  border-radius: 10px;
}

ul
{
  list-style: none;
  padding: 0;
}

h2
{
  color: #007bff;
}

.tools
{
  padding: 25px;
  height: 200px;
  border: 5px solid #f2f2f2;
  border-radius: 20px;
  margin: 20px;
  width: 75%;
  color: white;
}

html
{
  scroll-behavior: smooth;
}















